<h3>Update Securitization Arranger</h3>
    <h4>Deal Name: {{temp_name}}</h4>
    <h5>Borrower: {{borrower_name}}</h5>
    <p>Trust Name: {{trust_name}}</p>
    <p>Trust Account No: {{trust_bank_account_no}}</p>
    <p>trust_bank_account_branch: {{trust_bank_account_branch}}</p>
    <p>trust_bank_account_bank: {{trust_bank_account_bank}}</p>
    <p>trustee_approved: {{trustee_approved}}</p>
    <p>cashflow_checked: {{cashflow_checked}}</p>

    <!-- Update Form -->
    <form method="POST"  enctype="multipart/form-data"> {% csrf_token %}
        {{form.as_p}}
        <input type="hidden" name="formtype" value="update"/>
        <button type="submit" name="save" class="btn btn-success">Update Securitization</button>
    </form>

    <!-- Add Investor Form -->
    <h3>Add Investors</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="formtype" value="addinvestors"/>
        <input type="file" name="investor_file">
        <input type="submit" value="Upload">
    </form>

    {% if investor_table_html %}
    <form method="POST" enctype="multipart/form-data">
        <input type="hidden" name="formtype" value="confirm_investors">
        <input type="submit" value="Confirm Investors">
    </form>
{{investor_table_html|safe}}
    {% endif %}