
{% extends "trusteeapp/base_custodyclient.html" %}
{% block title %}
Home | {{client.client_name}} (Account : {{client.client_id}})</h4><p>Last updated on xx/xx/xxx (use last CDS data upload date)
{% endblock title %}


{% block chartjs %}
$(document).ready(function(){
    var ctx = document.getElementById('myChart');
    ctx.height = 100;
var myChart = new Chart(ctx, {
type: 'line',
fill: false,
data: {
    labels: [ {% for i in dates %}'{{i}}',{% endfor %}],
    datasets: [{
        label: 'Portfolio Value',
        data: [ {% for i in pf_value %}'{{i}}',{% endfor %}],
        borderWidth: 2,
        borderColor: 'rgba(211, 77, 67, 1)',
        backgroundColor:'rgba(213, 101, 92, 1)',
        fill:false,
    },
    {
        label: 'Margin Used',
        data: [{% for i in margin_balance %}'{{i}}',{% endfor %}],
        borderWidth: 2,
        borderColor: 'rgba(211, 54, 81 , 1)',
        backgroundColor:'rgba(211, 67, 92, 1)',
        fill:false,
    },
    {
        label: 'Cost of Portfolio',
        data: [{% for i in pf_cost %}'{{i}}',{% endfor %}],
        borderWidth: 2,
        borderColor: 'rgba(30, 94, 9, 1)',
        backgroundColor:'rgba(46, 98, 29, 1)',
        fill:false,
    }]
},
options: {
    scales: {
        y: {
            beginAtZero: true
        }
    }
}
});
});

{% endblock chartjs %}
{% load crispy_forms_tags %} 
{% load humanize %}
{% block active1 %}active{% endblock active1 %}
{% block content %}
<div class="container"><br/><br/><h4>{{client.client_name}} (Account : {{client.client_id}})</h4><p>Last updated on xx/xx/xxx (use last CDS data upload date)</p>
    <br/>
    <div class="col-sm-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Portfolio Value</h5>
          <p class="card-text">
            <h4>{{client.portfolio_value|floatformat:2|intcomma}}</h4>
        </div>
    </div>
    </div>
    <div class="col-sm-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Margin Available</h5>
          <p class="card-text">
            <h4>{{client.maximum_margin|floatformat:2|intcomma}}</h4>
        </div>
    </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Margin Used</h5>
              <p class="card-text">
                <h4>{{client.margin_account_balance|floatformat:2|intcomma}}</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Purchasing Power</h5>
              <p class="card-text">
                <h4>{{client.purchasing_power|floatformat:2|intcomma}}</h4>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <br/>
    <div class="col-sm-12">
    <div class="card">
        <div class="card-body">
          <p class="card-text">
            <canvas id="myChart" width="400" height="400"></canvas></p>
        </div>
    </div>
    </div>
</div>

<div class="container">
    <br/>
    <div class="col-sm-12">
    <div class="card">
        <div class="card-body">
          <p class="card-text">
            {% if equitypf %}
            <table class="table table-striped table-bordered dataTable showtable" style="width: 100%;" >
                <thead><tr><th>Security</th><th>Quantity</th><th>Cost</th><th>Current Price</th><th>Market Value</th><th>Gain/Loss</th><th>Margin Pct</th><th>Margin Value</th><th>Broker</th></tr></thead>
                <tbody>
                    {% for sec in equitypf %}<tr><td>{{sec.stock.ticker}}</td><td align="right">{{sec.quantity|floatformat:0|intcomma}}</td><td align="right">{{sec.cost_basis|floatformat:2|intcomma}}</td><td align="right">{{sec.stock.current_price|floatformat:2|intcomma}}</td><td align="right">{{sec.marketvalue|floatformat:2|intcomma}}</td><td align="right">{{sec.gainloss|floatformat:2|intcomma}}</td><td align="right">{{sec.stock.margin_pct|floatformat:2|intcomma}}</td><td align="right">{{sec.marginvalue|floatformat:2|intcomma}}</td><td>{{sec.broker.broker_code}}</td></tr>{% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    </div>
</div>

{% endblock content %}