{% extends "compound/base_compound.html" %}


{% block title %}
Home
{% endblock title %}


{% block content %}
<div class="card1">
    <div class="card1-body">
    <span class="value"><h3>Total Assets: 243,404</h3></span></div>
</div>

{% if unittrustholdings %}
    
    {% for sec in unittrustholdings %}
    
        <div class="card2" onclick="location.href='http://www.example.com';" style="cursor:pointer;">
        <div class="card-header"><span class="title"><h4>{{sec.nick_name}}-# {{sec.id}}</h4></span> <span class="value"><h4><b>{{sec.value}}</b></h4></span></div>
        <div class="card-body">
            <b>Portfolio:</b> {{sec.unit_trust.client_name}}
        </div>
        </div>
    
    {% endfor %}
{% endif %}
<div class="row align-items-center justify-content-center">
<a class="btn btn-primary" href="#" role="button">Transfer funds</a> &nbsp; &nbsp; <a class="btn btn-primary" href="/compound/createaccount/{{investor.id}}/" role="button">Add new account</a>
</div>
{% endblock %}